services:
  cloudbeaver:
      image: dbeaver/cloudbeaver:latest
      init: true
      container_name: "${APP_NAME}"
      restart: "${DOCKER_RESTART_POLICY:-unless-stopped}"
      stop_grace_period: "3s"
      ports:
        - '8978:8978'
      volumes:
        - cloudbeaver:/opt/cloudbeaver/workspace

volumes:
  cloudbeaver: {}
